html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

button {
  /* padding: 10px 30px; */
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  border: #333 2px solid;
  border-radius: 10px;
  height: 40px;
  width: 200px;
}

#button-container {
  display: flex;
  height: 40px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 2px solid #333;
  width: 700px;
  max-width: 90vw;
  max-height: 90vh;
  aspect-ratio: 7 / 6;
}

.field {
  z-index: 999;
  border: 1px solid #999;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.field::after {
  z-index: 999;
  content: '';
  display: block;
  width: 80%;
  margin: 10%;
  height: 80%;
  border-radius: 50%;
  background-color: white;
}

.field:has(.disc.disc-red)::after {
  background-color: red;
}

.field:has(.disc.disc-blue)::after {
  background-color: blue;
}
